@import "styles/colors";

.alreadyRegistered {
  text-align: center;
}

.textInput {
  margin-top: 1.2rem;
}

.buttonContainer {
  margin-top: 2rem;
  display: flex;
  justify-content: center;

  & * {
    margin: 1rem;
    min-width: 100px;
  }

}