$gray: rgb(120, 120, 120);
$light-gray: rgb(232, 232, 232);
$super-light-gray: rgb(247, 247, 247);
$light-blue: rgb(0, 151, 255);
$blue: rgb(8, 106, 255);
$dark-blue: rgb(6,0,255);
$background-white: rgb(250, 250, 250);
$red: rgb(255, 56, 34);