
html {
  height: 100%;
}

 body {
   height: 100%;
 }

div#app {
  height: 100%;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, button, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 15px;
  letter-spacing: 0.4px;
  line-height: 1.428;
  vertical-align: baseline;
  background-color: transparent;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}

body {
  font-family: Roboto,Arial,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  letter-spacing: 0.6px;
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 1.0rem;
}


h6 {
  font-size: 0.9rem;
}

.modal-backdrop
{
  opacity:0.2 !important;
}

.modal-title {
  font-weight: bold !important;
  font-size: 1.2rem;
  letter-spacing: 0.6px;
}

.modal-body {
  padding: 1.5rem;
}

.modal-footer {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
