# Spring cloud config properties. By default used dev github repo (changed in production)
SPRING_CLOUD_CONFIG_GIT_URL=https://github.com/passwordManagerr/passwordManager-configs.git
SPRING_CLOUD_CONFIG_GIT_USERNAME=victorstatko9@gmail.com
SPRING_CLOUD_CONFIG_GIT_PASSWORD=Managerrpassword
SPRING_CLOUD_CONFIG_ENCRYPTION_KEY=aqj12Kuu432Iodfkitdne7YjsleuYCWQueh48jfuO9j4U2dw12o
SPRING_CLOUD_CONFIG_URL=http://configuration-service:8088
SPRING_CLOUD_CONFIG_EUREKA_URL=http://localhost:8761/eureka/
