# Spring cloud config properties. By default used dev github repo (changed in production)
SPRING_CLOUD_CONFIG_GIT_URL=https://github.com/passwordManagerr/passwordManager-configs.git
SPRING_CLOUD_CONFIG_GIT_USERNAME=victorstatko9@gmail.com
SPRING_CLOUD_CONFIG_GIT_PASSWORD=Managerrpassword
SPRING_CLOUD_CONFIG_ENCRYPTION_KEY=aqj12Kuu432Iodfkitdne7YjsleuYCWQueh48jfuO9j4U2dw12o
SPRING_CLOUD_CONFIG_URL=http://configuration-service:8088

SPRING_CLOUD_EUREKA_URL=http://discovery-service:8761/eureka/

USER_SERVICE_POSTGRES_DB=users
USER_SERVICE_POSTGRES_USER=users
USER_SERVICE_POSTGRES_PASSWORD=users
USER_SERVICE_POSTGRES_CONNECTION_URL=jdbc:postgresql://user-postgres:5432/users

AUTH_SERVICE_REDIS_PASSWORD=auth
AUTH_SERVICE_REDIS_HOST=auth-redis
AUTH_SERVICE_REDIS_PORT=6379

AUTH_SERVICE_URL=http://authorization-service:8888

AUTH_SERVICE_POSTGRES_DB=auth
AUTH_SERVICE_POSTGRES_USER=auth
AUTH_SERVICE_POSTGRES_PASSWORD=auth
AUTH_SERVICE_POSTGRES_CONNECTION_URL=jdbc:postgresql://auth-postgres:5432/auth

KAFKA_BROKERS_URLS=kafka1:19092,kafka2:19093,kafka3:19094