SPRING_CLOUD_CONFIG_GIT_URL=https://github.com/passwordManagerr/passwordManager-configs.git
SPRING_CLOUD_CONFIG_GIT_USERNAME=victorstatko9@gmail.com
SPRING_CLOUD_CONFIG_GIT_PASSWORD=Managerrpassword
SPRING_CLOUD_CONFIG_ENCRYPTION_KEY=aqj12Kuu432Iodfkitdne7YjsleuYCWQueh48jfuO9j4U2dw12o
SPRING_CLOUD_CONFIG_URL=http://configuration-service:8088
SPRING_CLOUD_CONFIG_PORT=8088

SPRING_CLOUD_EUREKA_URL=http://discovery-service:8761/eureka/
SPRING_CLOUD_EUREKA_PORT=8761

GATEWAY_SERVICE_PORT=8887

AUTH_SERVICE_REDIS_PASSWORD=auth
AUTH_SERVICE_REDIS_HOST=auth-redis
AUTH_SERVICE_REDIS_PORT=6379
AUTH_SERVICE_REDIS_VOLUME=/home/victor/development/data/docker/auth-redis/data:/data
AUTH_SERVICE_POSTGRES_VOLUME=/home/victor/development/data/docker/auth-postgres/data:/var/lib/postgresql/data
AUTH_SERVICE_URL=http://authorization-service:8888
AUTH_SERVICE_PORT=8888
AUTH_SERVICE_AES_KEY=NW4zd2RhTURtejVTOGtlRlJGa1ZsemdVMUIwbXUwcGJFdjR2UWRBak1oMUR5UXhtRkJzN0pCOGtNakFZVnFBcQ==
AUTH_SERVICE_POSTGRES_DB=auth
AUTH_SERVICE_POSTGRES_USER=auth
AUTH_SERVICE_POSTGRES_PASSWORD=auth
AUTH_SERVICE_POSTGRES_CONNECTION_URL=jdbc:postgresql://auth-postgres:5432/auth
AUTH_SERVICE_IPSTACK_ACCESS_KEY=123dqwd12dqwdqdwwdasd

PERSONAL_ACCOUNTS_SERVICE_PORT=8890
PERSONAL_ACCOUNTS_SERVICE_POSTGRES_DB=personal-accounts
PERSONAL_ACCOUNTS_SERVICE_POSTGRES_USER=personal-accounts
PERSONAL_ACCOUNTS_SERVICE_POSTGRES_PASSWORD=personal-accounts
PERSONAL_ACCOUNTS_SERVICE_POSTGRES_CONNECTION_URL=jdbc:postgresql://personal-accounts-postgres:5432/personal-accounts
PERSONAL_ACCOUNTS_SERVICE_POSTGRES_VOLUME=/home/victor/development/data/docker/personal-accounts-postgres/data:/var/lib/postgresql/data
PERSONAL_ACCOUNTS_SERVICE_REDIS_PASSWORD=personal-accounts
PERSONAL_ACCOUNTS_SERVICE_REDIS_HOST=personal-accounts-redis
PERSONAL_ACCOUNTS_SERVICE_REDIS_PORT=6379
PERSONAL_ACCOUNTS_SERVICE_REDIS_VOLUME=/home/victor/development/data/docker/personal-accounts-redis/data:/data
PERSONAL_ACCOUNTS_SERVICE_AES_KEY=NEtTNUN4cGlVVzZpcXNmd3FzamhHZXppUVYwTnpWUDNPUUJGcEdKVmZSTmp5Y0xxUGlnUjdxdnRacDVDOGprWA==
PERSONAL_ACCOUNTS_SERVICE_OAUTH2_CLIENT_SECRET=0dz4y0kGSDCBPRKwiMAq

ZOOKEPEER1_VOLUME=/home/victor/development/data/docker/zookeeper1/data:/bitnami/zookeeper
ZOOKEPEER_USER=kafka
ZOOKEPEER_PASSWORD=kafka_password

KAFKA_BROKERS_URLS=kafka1:9092
KAFKA_CERTIFICATE_PASSWORD=certificatePassword123
KAFKA_INTER_BROKER_USER=interuser
KAFKA_INTER_BROKER_PASSWORD=interpassword
KAFKA_CLIENT_USER=user
KAFKA_CLIENT_PASSWORD=password
KAFKA1_DATA_VOLUME=/home/victor/development/data/docker/kafka1/data:/bitnami/kafka
KAFKA1_KEYSTORE_VOLUME=./kafka.keystore.jks:/opt/bitnami/kafka/conf/certs/kafka.keystore.jks:ro
KAFKA1_TRUSTORE_VOLUME=./kafka.truststore.jks:/opt/bitnami/kafka/conf/certs/kafka.truststore.jks:ro

EMAIL_SERVICE_REDIS_PASSWORD=email
EMAIL_SERVICE_REDIS_HOST=email-redis
EMAIL_SERVICE_REDIS_PORT=6379
EMAIL_SERVICE_REDIS_VOLUME=/home/victor/development/data/docker/personal-accounts-redis/data:/data
EMAIL_SERVICE_PORT=8891
EMAIL_PASSWORD=12312123123

FRONTEND_URL=http://localhost:3000

LOGZIO_TOKEN=12d1d12dzsffgdf