version: "2.4"
services:

  configuration-service:
    ports:
      - "8088:8088"
    build:
      context: ./configurationService
      dockerfile: docker/Dockerfile
      target: run
    healthcheck:
      test: curl http://localhost:8088 || echo 1
      interval: 10s
      timeout: 10s
      retries: 5
    environment:
      - SPRING_CLOUD_CONFIG_GIT_URL=${SPRING_CLOUD_CONFIG_GIT_URL}
      - SPRING_CLOUD_CONFIG_GIT_USERNAME=${SPRING_CLOUD_CONFIG_GIT_USERNAME}
      - SPRING_CLOUD_CONFIG_GIT_PASSWORD=${SPRING_CLOUD_CONFIG_GIT_PASSWORD}
      - SPRING_CLOUD_CONFIG_ENCRYPTION_KEY=${SPRING_CLOUD_CONFIG_ENCRYPTION_KEY}
      - SPRING_CLOUD_CONFIG_EUREKA_URL=${SPRING_CLOUD_CONFIG_EUREKA_URL}

  discovery-service:
    ports:
      - "8761:8761"
    build:
      context: ./discoveryService
      dockerfile: docker/Dockerfile
      target: run
    depends_on:
      configuration-service:
        condition: service_healthy
    environment:
      - SPRING_CLOUD_CONFIG_URL=${SPRING_CLOUD_CONFIG_URL}

  gateway-service:
    ports:
      - "8887:8887"
    build:
      context: ./gatewayService
      dockerfile: docker/Dockerfile
      target: run
    depends_on:
      configuration-service:
        condition: service_healthy
    environment:
      - SPRING_CLOUD_CONFIG_URL=${SPRING_CLOUD_CONFIG_URL}

  authorization-service:
    ports:
      - "8888:8888"
    build:
      context: ./authorizationService
      dockerfile: docker/Dockerfile
      target: run
    depends_on:
      configuration-service:
        condition: service_healthy
    environment:
      - SPRING_CLOUD_CONFIG_URL=${SPRING_CLOUD_CONFIG_URL}

  user-postgres:
    ports:
      - "5000:5432"
    image: postgres:11.5
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${USER_SERVICE_POSTGRES_USER} -d ${USER_SERVICE_POSTGRES_DB} -p 5432"]
      interval: 10s
      timeout: 10s
      retries: 5
    environment:
      - POSTGRES_PASSWORD=${USER_SERVICE_POSTGRES_PASSWORD}
      - POSTGRES_USER=${USER_SERVICE_POSTGRES_USER}
      - POSTGRES_DB=${USER_SERVICE_POSTGRES_DB}

  user-service:
    ports:
      - "8889:8889"
    build:
      context: ./userService
      dockerfile: docker/Dockerfile
      target: run
    depends_on:
      configuration-service:
        condition: service_healthy
      user-postgres:
        condition: service_healthy
    environment:
      - SPRING_CLOUD_CONFIG_URL=${SPRING_CLOUD_CONFIG_URL}