@import "styles/colors";

textarea {
  display: block;
  width: 100%;
  background-color: inherit;
  border: none;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 0.6rem 1.2rem;
  margin-top: 0.2rem !important;
}

textarea:focus {
  outline: none;
  box-shadow: inset 0 0 0 1px $blue;
}

textarea:active {
  outline: none;
  box-shadow: inset 0 0 0 1px $blue;
}

textarea:read-only {
  background-color: $super-light-gray;
  cursor: text;
}

textarea:read-only:focus {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.25);
}

textarea.error {
  box-shadow: inset 0 0 0 1px $red;
  background: url(~images/icons/error.svg) no-repeat top 50% right 1rem;
  background-size: 25px 25px;
  padding-right: 4rem;
}

.errorText {
  color: $red;
  font-weight: 500;
}

.labelText {
  color: $gray;
  font-weight: 500;
  margin-left: 0.3rem;
}
