@import "styles/colors";

.page {
  min-height: 100%;
  display: flex;
  background-color: $light-gray;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .logo {
    max-width: 100%;
    max-height: 40vh;
    height: 250px;
    width: 350px;
    margin: 1rem;
  }

  .formContainer {
    background-color: $background-white;
    max-width: 600px;
    width: 95%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 2rem;
    margin: 1rem;
    .title {
      text-align: center;
      margin-bottom: 1.2rem;
      color: $gray;
    }
  }
}

