@import "styles/colors";

.toggleButton {
  width: 20px;
}

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $super-light-gray;
  overflow-x: hidden;
  padding-top: 5rem;
}

.sidebar a {
  padding: 0.4rem 0.4rem 0.4rem 1.6rem;
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  background-color: $light-gray;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 2rem;
}

.sidebar .closebtn:hover {
  color: $gray;
}

.logo {
  position: absolute;
  top: 0;
  height: 50px;
  margin-top: 1rem;
  margin-left: 2.5rem;
  cursor: pointer;
}