@import "styles/colors";

.button {
  background-color: $light-blue;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 0.7rem 1.6rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s;

  &:hover {
    outline:none;
    background-color: $blue;
  }

  &:focus {
    outline:none;
  }

  &:active {
    outline:none;
    background-color: $dark-blue;
  }
}