@import "components/Guest/Guest.module";

.existingAccount,  .verificationCodeIssues{
  display: block;
  font-size: 0.9rem;
}

.verificationCodeIssues {
  display: block;
  font-size: 0.9rem;
}

@media (min-width: 400px) {

  .existingAccount {
    float: left;
  }

  .verificationCodeIssues {
    float: right;
  }
}

@media (max-width: 400px) {
  .existingAccount {
    margin-top: 1rem;
  }
  .verificationCodeIssues {
    margin-top: 0.5rem;
  }
}