@import "styles/colors";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  flex-flow: wrap;
  max-width: 100%;
  text-align: center;
  hr {
    border: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  & .nothing {
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 2rem;
  }

  & .description {
    font-size: 1.1rem;
  }

  & .icon {
    margin-top: 1rem;
    height: 200px;
    display: block;
  }

}

