.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  max-width: 100%;
  text-align: center;

  hr {
    border: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  & .error {
    font-size: 5rem;
    font-weight: 600;
    margin-top: 2.5rem;
  }

  & .description {
    font-size: 1.5rem;
  }
}