@import "styles/colors";

.button {
  min-width: 35px;
  min-height: 35px;
  background-color:  $super-light-gray;
  box-shadow: 0 1px 2px RGBA(0,0,0,0.2);
  border-radius: 5%;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    outline:none;
    background-color:  $light-gray;
  }

  &:focus {
    outline:none;
  }
}

.button:disabled,
.button[disabled]{
  cursor: not-allowed;

  &:hover {
    background-color: $super-light-gray;
  }
}

.declineButton {
  background-color: $red;
  color: $white;
  min-width: 100px;

  &:hover {
    background-color: $dark-red;
  }
}

.declineButton:disabled,
.declineButton[disabled]{
  background-color:  $red-half-opacity;

  &:hover {
    background-color:  $red-half-opacity;
  }
}

.confirmButton {
  background-color:  $green;
  color: $white;
  min-width: 100px;

  &:hover {
    background-color: $dark-green;
  }
}

.confirmButton:disabled,
.confirmButton[disabled]{
  background-color:  $green-half-opacity;

  &:hover {
    background-color:  $green-half-opacity;
  }
}

.primaryButton {
  background-color:  $light-blue;
  color: $white;
  min-width: 100px;

  &:hover {
    background-color: $blue;
  }
}

.primaryButton:disabled,
.primaryButton[disabled]{
  background-color:  $light-blue-half-opacity;

  &:hover {
    background-color:  $light-blue-half-opacity;
  }
}