@import "styles/colors";

.loading {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 0.3rem;
  border: 3px solid $light-gray;
  border-radius: 50%;
  border-top-color: $blue;
  animation: spin 1s linear infinite;
  -webkit-animation: spin 1s linear infinite;
  opacity: 1;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}