@import "styles/colors";

.page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(~images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: $gray;

  hr {
    border: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .logo {
    max-width: 250px;
    margin-bottom: 1rem;
  }

  @media (min-width: 991px) {

    .logo {
      margin-bottom: 5.5rem;
    }
  }

  .formContainer {
    background-color: $background-white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    margin: 1rem;
    display: flex;
    max-width: 98%;

    .title {
      text-align: center;
      margin-bottom: 1.2rem;
    }

  }

  .row {
    min-width: 100%;
    margin: 0;
    padding: 0;
  }

  .leftColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
  }

  @media (min-width: 960px) {

    .formContainer {
      min-width: 921px;
    }

    .leftColumn {
      box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.5);;
    }
  }

  .languageIcon {
    width: 20px;
    margin: 0.2rem;
    cursor: pointer;
  }
}

